<html>
    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem culpa perspiciatis consequatur officia fuga eum. Eum laborum non, perferendis adipisci laboriosam, provident, accusantium rerum atque reprehenderit nihil reiciendis eligendi! Architecto.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis autem consequuntur harum dolores esse tenetur maxime illo vero, itaque nostrum laborum nemo quo aliquid dolore ullam iure quod, magni veritatis.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, voluptatibus sint quae odit atque ipsum nesciunt consequatur architecto hic molestias exercitationem accusantium, iusto labore rem, quam fugiat nam dignissimos itaque?</p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>